@layout('layouts/admin')

@section('content')
  <h1>Admin Index...</h1>
  <p>Spaces: {{ spaceCount }}</p>
  <p>Therapists: {{ therapistCount }}</p>
  <p>Posts: {{ postCount }}</p>
  <p>Users: {{ userCount }}</p>
  <p>Media: {{ mediaCount }}</p>
@endsection
